<header>
    <nav>
        <a href="/">Bookscollect</a>
        <ul>
            <li><a href="/author">Authors</a></li>
            <li><a href="/author/new">Add Author</a></li>
        </ul>
    </nav>
</header>